html/source/pug/base.pug
<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
  link(rel="stylesheet", href="css/main.css")
  block css
  title Magico
body
  header.header
    .container
      .col-md-6
        .row
          .col-md-3.text-center
            a(href="#")
              img(src="images/logo.png", width="100")
          .col-md-9
            h1.logo
              a(href="#")
                span.first Machu Picchu 
                span.second Magico
            .slogan Tours Machu Picchu Peru - Viajes Peru Machupicchu

        .description Tours a Machu Picchu Perú Paquetes Turísticos de viajes a Perú Machu Picchu Camino Inca tradicional, Machu Picchu en tren, vuelos de lima - Cusco- Machu Picchu, Paquetes Perú Bolivia.

      .col-md-6
        .contact-header
          p
            i.fa.fa-phone
            |  0051 949755958/ 0051 84 254571
          p
            i.fa.fa-envelope
            |  machupicchumagico@hotmail.com / info@machupicchumagico.com
          p
            i.fa.fa-whatsapp
            |  +51932362209 / +51949755958  
          p
            i.fa.fa-whatsapp
            |  24 horas +51962363040

    block banner


  block content
  
  footer.footer
    .container
      .col-md-4
        ul.footer-tours
          for val in 'xxxxxxxxx'
            li
              a(href="#") Tour to Machu picchu
      
      .col-md-5
        h3.block-title Contacto
        ul.footer-contact
          li
            i.fa.fa-map-marker
            |  Av. Manco Capac 612 - Cusco - Perú
          li
            i.fa.fa-mobile-phone  
            |  +51932362209 / +51949755958 (24horas) / +51962363040
          li
            i.fa.fa-phone  
            |  +51-84-254571
          li
            i.fa.fa-whatsapp   
            |  +51932362209 / +51949755958 (24horas) /   +51-962363040
          li
            i.fa.fa-at  
            |  machupicchumagico@hotmail.com / info@machupicchumagico.com

        p &copy; 2011 Por Machu Picchu Mágico

      .col-md-3
        h3.block-title Testimonio de nuestros pasajeros
        <iframe src="https://www.youtube.com/embed/sipV4VZk0vI" _mce_src="https://www.youtube.com/embed/sipV4VZk0vI" allowfullscreen="" frameborder="0" width="300"></iframe>
        <iframe src="https://www.youtube.com/embed/sipV4VZk0vI" _mce_src="https://www.youtube.com/embed/sipV4VZk0vI" allowfullscreen="" frameborder="0" width="300"></iframe>


  script(src='http://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
  script(src="js/main.js")
  block js

html/base.html
<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
  <link rel="stylesheet" href="css/main.css"/>
  <title>Magico</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3 text-center"><a href="#"><img src="images/logo.png" width="100"/></a></div>
          <div class="col-md-9">
            <h1 class="logo"><a href="#"><span class="first">Machu Picchu </span><span class="second">Magico</span></a></h1>
            <div class="slogan">Tours Machu Picchu Peru - Viajes Peru Machupicchu</div>
          </div>
        </div>
        <div class="description">Tours a Machu Picchu Perú Paquetes Turísticos de viajes a Perú Machu Picchu Camino Inca tradicional, Machu Picchu en tren, vuelos de lima - Cusco- Machu Picchu, Paquetes Perú Bolivia.</div>
      </div>
      <div class="col-md-6">
        <div class="contact-header">
          <p><i class="fa fa-phone"></i> 0051 949755958/ 0051 84 254571</p>
          <p><i class="fa fa-envelope"></i> machupicchumagico@hotmail.com / info@machupicchumagico.com</p>
          <p><i class="fa fa-whatsapp"></i> +51932362209 / +51949755958  </p>
          <p><i class="fa fa-whatsapp"></i> 24 horas +51962363040</p>
        </div>
      </div>
    </div>
  </header>
  <footer class="footer">
    <div class="container">
      <div class="col-md-4">
        <ul class="footer-tours">
          <li><a href="#">Tour to Machu picchu</a></li>
          <li><a href="#">Tour to Machu picchu</a></li>
          <li><a href="#">Tour to Machu picchu</a></li>
          <li><a href="#">Tour to Machu picchu</a></li>
          <li><a href="#">Tour to Machu picchu</a></li>
          <li><a href="#">Tour to Machu picchu</a></li>
          <li><a href="#">Tour to Machu picchu</a></li>
          <li><a href="#">Tour to Machu picchu</a></li>
          <li><a href="#">Tour to Machu picchu</a></li>
        </ul>
      </div>
      <div class="col-md-5">
        <h3 class="block-title">Contacto</h3>
        <ul class="footer-contact">
          <li><i class="fa fa-map-marker"></i> Av. Manco Capac 612 - Cusco - Perú</li>
          <li><i class="fa fa-mobile-phone"> </i> +51932362209 / +51949755958 (24horas) / +51962363040</li>
          <li><i class="fa fa-phone"> </i> +51-84-254571</li>
          <li><i class="fa fa-whatsapp">  </i> +51932362209 / +51949755958 (24horas) /   +51-962363040</li>
          <li><i class="fa fa-at"> </i> machupicchumagico@hotmail.com / info@machupicchumagico.com</li>
        </ul>
        <p>&copy; 2011 Por Machu Picchu Mágico</p>
      </div>
      <div class="col-md-3">
        <h3 class="block-title">Testimonio de nuestros pasajeros</h3><iframe src="https://www.youtube.com/embed/sipV4VZk0vI" _mce_src="https://www.youtube.com/embed/sipV4VZk0vI" allowfullscreen="" frameborder="0" width="300"></iframe>
<iframe src="https://www.youtube.com/embed/sipV4VZk0vI" _mce_src="https://www.youtube.com/embed/sipV4VZk0vI" allowfullscreen="" frameborder="0" width="300"></iframe>
      </div>
    </div>
  </footer>
  <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="js/main.js"></script>
</body>
