html/home.html
<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
  <link rel="stylesheet" href="css/main.css"/>
  <title>Magico</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3 text-center"><a href="#"><img src="images/logo.png" width="100"/></a></div>
          <div class="col-md-9">
            <h1 class="logo"><a href="#"><span class="first">Machu Picchu </span><span class="second">Magico</span></a></h1>
            <div class="slogan">Tours Machu Picchu Peru - Viajes Peru Machupicchu</div>
          </div>
        </div>
        <div class="description">Tours a Machu Picchu Perú Paquetes Turísticos de viajes a Perú Machu Picchu Camino Inca tradicional, Machu Picchu en tren, vuelos de lima - Cusco- Machu Picchu, Paquetes Perú Bolivia.</div>
      </div>
      <div class="col-md-6">
        <div class="contact-header">
          <p><i class="fa fa-phone"></i> 0051 949755958/ 0051 84 254571</p>
          <p><i class="fa fa-envelope"></i> machupicchumagico@hotmail.com / info@machupicchumagico.com</p>
          <p><i class="fa fa-whatsapp"></i> +51932362209 / +51949755958  </p>
          <p><i class="fa fa-whatsapp"></i> 24 horas +51962363040</p>
        </div>
      </div>
    </div>
    <div class="banner"><img src="images/banner.jpg"/>
      <nav class="main-nav">
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Camino Inca a Machupicchu</a>
            <ul class="child">
              <li><a href="#">Hijohijito hoteda adssda</a></li>
              <li><a href="#">Hijohijito hoteda adssda</a></li>
              <li><a href="#">Hijohijito hoteda adssda</a></li>
              <li><a href="#">Hijohijito hoteda adssda</a></li>
            </ul>
          </li>
          <li><a href="#">Pagos y Reservas</a></li>
          <li><a href="#">Quienes Somos</a></li>
        </ul>
      </nav>
      <div class="tripadvisor"><a class="excelence" href="#"><img src="images/ta2016.png"/><img src="images/ta2017.png"/></a></div>
    </div>
  </header>
  <div class="home-container">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="first">
            <h4 class="tour-category-title"><a href="#">Paquetes en Perú Viaje a Machu Picchu</a></h4>
            <ul>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
            </ul>
            <h4 class="tour-category-title"><a href="#">Paquetes en Perú Viaje a Machu Picchu</a></h4>
            <ul>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
            </ul>
            <h4 class="tour-category-title"><a href="#">Paquetes en Perú Viaje a Machu Picchu</a></h4>
            <ul>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
            </ul>
            <h4 class="tour-category-title"><a href="#">Paquetes en Perú Viaje a Machu Picchu</a></h4>
            <ul>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
            </ul>
            <h4 class="tour-category-title"><a href="#">Paquetes en Perú Viaje a Machu Picchu</a></h4>
            <ul>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
            </ul>
            <h4 class="tour-category-title"><a href="#">Paquetes en Perú Viaje a Machu Picchu</a></h4>
            <ul>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
            </ul>
            <h4 class="tour-category-title"><a href="#">Paquetes en Perú Viaje a Machu Picchu</a></h4>
            <ul>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
              <li><a href="#">Tour 3 días Cusco y Machu Picchu</a></li>
            </ul>
            <div class="block border">
              <p class="text-center"><img src="http://www.machupicchumagico.com/uploads/images/recomendado_en_tripadvisor.png" alt=""/></p>
            </div>
            <div class="block border">
              <p class="text-center"><img src="http://www.tourperumachupicchu.com/images/paypal.jpg" alt=""/></p>
            </div>
            <div class="block border">
              <p class="text-center"><i class="fa fa-4x fa fa-whatsapp"></i></p>
              <p class="text-center">+51932362209 /+51949755958 / +5196236304</p>
            </div>
            <h3 class="block-title">Hoteles en Perú</h3>
            <h4 class="tour-category-title"><a href="#">Hoteles en Lima</a></h4>
            <ul></ul>
            <li><a href="#">2</a> estrellas</li>
            <li><a href="#">3</a> estrellas</li>
            <li><a href="#">4</a> estrellas</li>
            <h4 class="tour-category-title"><a href="#">Hoteles en Cusco</a></h4>
            <ul></ul>
            <li><a href="#">2</a> estrellas</li>
            <li><a href="#">3</a> estrellas</li>
            <li><a href="#">4</a> estrellas</li>
            <h4 class="tour-category-title"><a href="#">Hoteles en Machupicchu</a></h4>
            <ul></ul>
            <li><a href="#">2</a> estrellas</li>
            <li><a href="#">3</a> estrellas</li>
            <li><a href="#">4</a> estrellas</li>
          </div>
        </div>
        <div class="col-md-4">
          <div class="second">
            <h3 class="block-title">Tours más vendidos y recomendados</h3>
            <div class="promocion">
              <div class="row">
                <div class="col-md-12">
                  <figure><a href="#"><img src="http://placehold.it/350x270" alt=""/></a></figure>
                </div>
                <div class="col-md-8 prom-title prom-col"> <a href="#">Tour 4 días Cusco, Valle Sagrado de los Incas, Viaje a Machupicchu y ascenso a la Montaña Huaynapicchu</a></div>
                <div class="col-md-4 prom-price prom-col">Desde US$ 554 dólares por persona</div>
              </div>
            </div>
            <div class="promocion">
              <div class="row">
                <div class="col-md-12">
                  <figure><a href="#"><img src="http://placehold.it/350x270" alt=""/></a></figure>
                </div>
                <div class="col-md-8 prom-title prom-col"> <a href="#">Tour 4 días Cusco, Valle Sagrado de los Incas, Viaje a Machupicchu y ascenso a la Montaña Huaynapicchu</a></div>
                <div class="col-md-4 prom-price prom-col">Desde US$ 554 dólares por persona</div>
              </div>
            </div>
            <div class="promocion">
              <div class="row">
                <div class="col-md-12">
                  <figure><a href="#"><img src="http://placehold.it/350x270" alt=""/></a></figure>
                </div>
                <div class="col-md-8 prom-title prom-col"> <a href="#">Tour 4 días Cusco, Valle Sagrado de los Incas, Viaje a Machupicchu y ascenso a la Montaña Huaynapicchu</a></div>
                <div class="col-md-4 prom-price prom-col">Desde US$ 554 dólares por persona</div>
              </div>
            </div>
            <div class="promocion">
              <div class="row">
                <div class="col-md-12">
                  <figure><a href="#"><img src="http://placehold.it/350x270" alt=""/></a></figure>
                </div>
                <div class="col-md-8 prom-title prom-col"> <a href="#">Tour 4 días Cusco, Valle Sagrado de los Incas, Viaje a Machupicchu y ascenso a la Montaña Huaynapicchu</a></div>
                <div class="col-md-4 prom-price prom-col">Desde US$ 554 dólares por persona</div>
              </div>
            </div>
            <div class="promocion">
              <div class="row">
                <div class="col-md-12">
                  <figure><a href="#"><img src="http://placehold.it/350x270" alt=""/></a></figure>
                </div>
                <div class="col-md-8 prom-title prom-col"> <a href="#">Tour 4 días Cusco, Valle Sagrado de los Incas, Viaje a Machupicchu y ascenso a la Montaña Huaynapicchu</a></div>
                <div class="col-md-4 prom-price prom-col">Desde US$ 554 dólares por persona</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="third">
            <h3 class="block-title">Machu Picchu: Todo lo que necesitas saber</h3>
            <ul>
              <li><a href="#test">Como llegar a Machu Picchu</a></li>
              <li><a href="#test">Como llegar a Machu Picchu</a></li>
              <li><a href="#test">Como llegar a Machu Picchu</a></li>
              <li><a href="#test">Como llegar a Machu Picchu</a></li>
              <li><a href="#test">Como llegar a Machu Picchu</a></li>
              <li><a href="#test">Como llegar a Machu Picchu</a></li>
              <li><a href="#test">Como llegar a Machu Picchu</a></li>
              <li><a href="#test">Como llegar a Machu Picchu</a></li>
              <li><a href="#test">Como llegar a Machu Picchu</a></li>
            </ul>
            <div class="faq">
              <div class="faq-item">
                <h3>Como llegar a Machu Picchu</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas architecto nobis ad magnam ut doloremque modi enim, inventore possimus accusamus. Perspiciatis laudantium cumque tempore blanditiis totam et numquam eos saepe.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corporis quis exercitationem illum, natus soluta! Doloribus, saepe odio ad provident nihil repellat. Eum, doloribus consequuntur tenetur inventore praesentium nostrum quod.</p>
                <p class="text-right"><a href="#">Volver arriba</a></p>
              </div>
              <div class="faq-item">
                <h3>Como llegar a Machu Picchu</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas architecto nobis ad magnam ut doloremque modi enim, inventore possimus accusamus. Perspiciatis laudantium cumque tempore blanditiis totam et numquam eos saepe.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corporis quis exercitationem illum, natus soluta! Doloribus, saepe odio ad provident nihil repellat. Eum, doloribus consequuntur tenetur inventore praesentium nostrum quod.</p>
                <p class="text-right"><a href="#">Volver arriba</a></p>
              </div>
              <div class="faq-item">
                <h3>Como llegar a Machu Picchu</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas architecto nobis ad magnam ut doloremque modi enim, inventore possimus accusamus. Perspiciatis laudantium cumque tempore blanditiis totam et numquam eos saepe.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corporis quis exercitationem illum, natus soluta! Doloribus, saepe odio ad provident nihil repellat. Eum, doloribus consequuntur tenetur inventore praesentium nostrum quod.</p>
                <p class="text-right"><a href="#">Volver arriba</a></p>
              </div>
              <div class="faq-item">
                <h3>Como llegar a Machu Picchu</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas architecto nobis ad magnam ut doloremque modi enim, inventore possimus accusamus. Perspiciatis laudantium cumque tempore blanditiis totam et numquam eos saepe.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corporis quis exercitationem illum, natus soluta! Doloribus, saepe odio ad provident nihil repellat. Eum, doloribus consequuntur tenetur inventore praesentium nostrum quod.</p>
                <p class="text-right"><a href="#">Volver arriba</a></p>
              </div>
              <div class="faq-item">
                <h3>Como llegar a Machu Picchu</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas architecto nobis ad magnam ut doloremque modi enim, inventore possimus accusamus. Perspiciatis laudantium cumque tempore blanditiis totam et numquam eos saepe.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corporis quis exercitationem illum, natus soluta! Doloribus, saepe odio ad provident nihil repellat. Eum, doloribus consequuntur tenetur inventore praesentium nostrum quod.</p>
                <p class="text-right"><a href="#">Volver arriba</a></p>
              </div>
              <div class="faq-item">
                <h3>Como llegar a Machu Picchu</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas architecto nobis ad magnam ut doloremque modi enim, inventore possimus accusamus. Perspiciatis laudantium cumque tempore blanditiis totam et numquam eos saepe.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corporis quis exercitationem illum, natus soluta! Doloribus, saepe odio ad provident nihil repellat. Eum, doloribus consequuntur tenetur inventore praesentium nostrum quod.</p>
                <p class="text-right"><a href="#">Volver arriba</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="block-title">Últimos artículos publicados</h3>
          <article class="home-article">
            <h4 class="title"><a href="#">Platos típicos Chiriuchu</a></h4>
            <p class="desc">La ciudad del Cusco es conocida por sus grandes atractivos históricos, culturales y sobre todo por su variedad y fusión de sus platos típicos por lo que lleva una mezcla de la tradición andina y española.</p>
            <p class="text-right more"><a href="#">Leer más  </a></p>
          </article>
          <article class="home-article">
            <h4 class="title"><a href="#">Platos típicos Chiriuchu</a></h4>
            <p class="desc">La ciudad del Cusco es conocida por sus grandes atractivos históricos, culturales y sobre todo por su variedad y fusión de sus platos típicos por lo que lleva una mezcla de la tradición andina y española.</p>
            <p class="text-right more"><a href="#">Leer más  </a></p>
          </article>
          <article class="home-article">
            <h4 class="title"><a href="#">Platos típicos Chiriuchu</a></h4>
            <p class="desc">La ciudad del Cusco es conocida por sus grandes atractivos históricos, culturales y sobre todo por su variedad y fusión de sus platos típicos por lo que lleva una mezcla de la tradición andina y española.</p>
            <p class="text-right more"><a href="#">Leer más  </a></p>
          </article>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="col-md-4">
        <ul class="footer-tours">
          <li><a href="#">Tour to Machu picchu</a></li>
          <li><a href="#">Tour to Machu picchu</a></li>
          <li><a href="#">Tour to Machu picchu</a></li>
          <li><a href="#">Tour to Machu picchu</a></li>
          <li><a href="#">Tour to Machu picchu</a></li>
          <li><a href="#">Tour to Machu picchu</a></li>
          <li><a href="#">Tour to Machu picchu</a></li>
          <li><a href="#">Tour to Machu picchu</a></li>
          <li><a href="#">Tour to Machu picchu</a></li>
        </ul>
      </div>
      <div class="col-md-5">
        <h3 class="block-title">Contacto</h3>
        <ul class="footer-contact">
          <li><i class="fa fa-map-marker"></i> Av. Manco Capac 612 - Cusco - Perú</li>
          <li><i class="fa fa-mobile-phone"> </i> +51932362209 / +51949755958 (24horas) / +51962363040</li>
          <li><i class="fa fa-phone"> </i> +51-84-254571</li>
          <li><i class="fa fa-whatsapp">  </i> +51932362209 / +51949755958 (24horas) /   +51-962363040</li>
          <li><i class="fa fa-at"> </i> machupicchumagico@hotmail.com / info@machupicchumagico.com</li>
        </ul>
        <p>&copy; 2011 Por Machu Picchu Mágico</p>
      </div>
      <div class="col-md-3">
        <h3 class="block-title">Testimonio de nuestros pasajeros</h3><iframe src="https://www.youtube.com/embed/sipV4VZk0vI" _mce_src="https://www.youtube.com/embed/sipV4VZk0vI" allowfullscreen="" frameborder="0" width="300"></iframe>
<iframe src="https://www.youtube.com/embed/sipV4VZk0vI" _mce_src="https://www.youtube.com/embed/sipV4VZk0vI" allowfullscreen="" frameborder="0" width="300"></iframe>
      </div>
    </div>
  </footer>
  <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="js/main.js"></script>
</body>

html/source/pug/home.pug
extends ./base.pug

block banner
  .banner
    img(src="images/banner.jpg")
    include includes/nav.pug

    .tripadvisor
      a.excelence(href="#")
        img(src="images/ta2016.png")
        img(src="images/ta2017.png")


block content
  .home-container
    .container
      .row
        .col-md-4
          .first
            include includes/sidebar-tours.pug

            .block.border
              p.text-center
                img(src="http://www.machupicchumagico.com/uploads/images/recomendado_en_tripadvisor.png", alt="")

            .block.border
              p.text-center
                img(src="http://www.tourperumachupicchu.com/images/paypal.jpg", alt="")

            .block.border
              p.text-center
                i.fa.fa-4x.fa.fa-whatsapp
 
              p.text-center
                | +51932362209 /+51949755958 / +5196236304

            h3.block-title Hoteles en Perú

            for val in ['Lima', 'Cusco', 'Machupicchu']
              h4.tour-category-title
                a(href="#") Hoteles en 
                  = val

              ul
              for cat in ['2', '3', '4']
                li
                  a(href="#")= cat
                  |  estrellas
        .col-md-4
          .second
            h3.block-title Tours más vendidos y recomendados

            for val in 'xxxxx'
              .promocion
                .row
                  .col-md-12
                    figure
                      a(href="#")
                        img(src="http://placehold.it/350x270", alt="")
                  
                  .col-md-8.prom-title.prom-col  
                      a(href="#") Tour 4 días Cusco, Valle Sagrado de los Incas, Viaje a Machupicchu y ascenso a la Montaña Huaynapicchu

                  .col-md-4.prom-price.prom-col Desde US$ 554 dólares por persona

        .col-md-4
          .third
            h3.block-title Machu Picchu: Todo lo que necesitas saber

            ul
              for val in 'xxxxxxxxx'
                li
                  a(href="#test") Como llegar a Machu Picchu

            .faq
              for val in 'xxxxxx'
                .faq-item
                  h3 Como llegar a Machu Picchu
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas architecto nobis ad magnam ut doloremque modi enim, inventore possimus accusamus. Perspiciatis laudantium cumque tempore blanditiis totam et numquam eos saepe.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corporis quis exercitationem illum, natus soluta! Doloribus, saepe odio ad provident nihil repellat. Eum, doloribus consequuntur tenetur inventore praesentium nostrum quod.
                  p.text-right
                    a(href="#") Volver arriba

      .row
        .col-md-12
          h3.block-title Últimos artículos publicados

          for x in 'xxx'
            article.home-article
              h4.title
                a(href="#") Platos típicos Chiriuchu
              p.desc La ciudad del Cusco es conocida por sus grandes atractivos históricos, culturales y sobre todo por su variedad y fusión de sus platos típicos por lo que lleva una mezcla de la tradición andina y española.
              p.text-right.more
                a(href="#") Leer más  
